In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from pandas.core.common import random_state
from sklearn.linear_model import LinearRegression

In [2]:
df= pd.read_csv("insurance.csv")
df

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [3]:
# label encoding

In [4]:
df['sex'] = df['sex'].astype('category')
df['sex'] = df['sex'].cat.codes

In [5]:
df

      age  sex   bmi  children smoker     region  expenses
0      19    0  27.9         0    yes  southwest  16884.92
1      18    1  33.8         1     no  southeast   1725.55
2      28    1  33.0         3     no  southeast   4449.46
3      33    1  22.7         0     no  northwest  21984.47
4      32    1  28.9         0     no  northwest   3866.86
...   ...  ...   ...       ...    ...        ...       ...
1333   50    1  31.0         3     no  northwest  10600.55
1334   18    0  31.9         0     no  northeast   2205.98
1335   18    0  36.9         0     no  southeast   1629.83
1336   21    0  25.8         0     no  southwest   2007.95
1337   61    0  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [6]:
df['smoker'] = df['smoker'].astype('category')
df['smoker'] = df['smoker'].cat.codes

In [7]:
df['region'] = df['region'].astype('category')
df['region'] = df['region'].cat.codes

In [8]:
df

      age  sex   bmi  children  smoker  region  expenses
0      19    0  27.9         0       1       3  16884.92
1      18    1  33.8         1       0       2   1725.55
2      28    1  33.0         3       0       2   4449.46
3      33    1  22.7         0       0       1  21984.47
4      32    1  28.9         0       0       1   3866.86
...   ...  ...   ...       ...     ...     ...       ...
1333   50    1  31.0         3       0       1  10600.55
1334   18    0  31.9         0       0       0   2205.98
1335   18    0  36.9         0       0       2   1629.83
1336   21    0  25.8         0       0       3   2007.95
1337   61    0  29.1         0       1       1  29141.36

[1338 rows x 7 columns]

In [9]:
# to find dependent and independent variable

In [11]:
x=df.drop(columns='expenses')
x

      age  sex   bmi  children  smoker  region
0      19    0  27.9         0       1       3
1      18    1  33.8         1       0       2
2      28    1  33.0         3       0       2
3      33    1  22.7         0       0       1
4      32    1  28.9         0       0       1
...   ...  ...   ...       ...     ...     ...
1333   50    1  31.0         3       0       1
1334   18    0  31.9         0       0       0
1335   18    0  36.9         0       0       2
1336   21    0  25.8         0       0       3
1337   61    0  29.1         0       1       1

[1338 rows x 6 columns]

In [12]:
y=df['expenses']
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.95
1337    29141.36
Name: expenses, Length: 1338, dtype: float64

In [13]:
# split

In [14]:
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
x_train.shape

(936, 6)

In [16]:
x_test.shape

(402, 6)

In [17]:
# train

In [18]:
reg=LinearRegression()

In [20]:
reg.fit(x_train,y_train)

LinearRegression()

In [21]:
# predict

In [51]:
predict=reg.predict([[19,0,27.9,0,1,3]])
predict

C:\Users\ELITEBOOK\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24859.85141395])

In [52]:
y_predict=reg.predict(x_train)
y_predict

array([ 1.40166046e+04,  8.30952948e+03,  1.33744202e+04,  3.63308897e+04,
        3.37796625e+04,  3.54810724e+04,  5.97706395e+03,  6.16875570e+03,
        1.67029303e+04,  8.39365450e+03,  3.77707328e+04,  4.81559508e+03,
        8.30395940e+03,  9.98142519e+03,  3.01757067e+04,  5.47069559e+03,
        3.46786931e+03,  1.67486713e+04,  3.74733936e+03,  6.22474595e+03,
        1.03826778e+04, -1.13170504e+03,  2.95494838e+04,  8.49714830e+03,
        9.96663557e+03,  5.71203863e+03,  7.47440363e+03,  1.15981056e+04,
        2.87812490e+04,  9.60998871e+03,  1.05914571e+04,  6.45987871e+03,
        4.34909320e+03,  7.21242672e+02,  7.92579145e+03,  1.13534945e+04,
        1.00232376e+04,  8.42898391e+03,  6.33356645e+03,  4.34152430e+03,
        7.53165248e+03,  3.36012633e+04,  3.36345687e+04,  2.96251339e+03,
        3.98309353e+04,  2.84079152e+04,  1.07031787e+04,  3.93384545e+03,
        1.70599423e+04,  3.48587160e+03,  9.01138267e+03,  2.95756002e+04,
        1.64590447e+04,  1.24537771e+04,  8.43698285e+03,  1.27761956e+04,
        2.83859502e+03,  1.42218638e+04,  3.87224941e+03,  1.21271653e+04,
        1.11844768e+04,  5.94056277e+03,  1.08999804e+04,  5.91296031e+03,
        1.03123565e+04,  7.81291678e+03,  3.13105803e+04,  1.40888216e+04,
        2.88345880e+03,  3.39767605e+04,  2.81588318e+04,  4.71030958e+03,
        6.61725454e+03,  2.89072807e+04,  9.39248571e+03,  1.43316890e+04,
        1.11849719e+04,  3.94686997e+03,  8.27000609e+03,  1.05780220e+04,
        5.62615687e+03,  3.13987488e+03,  6.65878712e+03,  4.88971017e+03,
        4.82775226e+03,  3.43243883e+04,  1.17216507e+04,  3.35138453e+04,
        2.71583702e+04,  1.76783165e+04,  1.65928405e+04,  6.77647901e+03,
        1.49168711e+04,  1.09380829e+04,  1.26837138e+04,  1.69360336e+04,
        1.21184320e+04,  7.36873751e+03,  1.50002356e+04,  1.02278567e+04,
        4.63569865e+03,  1.34945344e+04,  5.14078661e+03,  1.02477383e+04,
        1.69931672e+04,  1.23903157e+03,  1.11216424e+04,  2.59915602e+04,
        1.14871290e+04,  4.07335950e+04,  3.35132170e+04,  1.37787054e+04,
        3.16607665e+03,  2.87702345e+04, -1.44184078e+03,  2.98520488e+04,
        1.07244701e+04,  2.27128195e+03,  2.27233607e+04,  7.06140391e+03,
        1.09490956e+04,  1.36832161e+02,  7.29856719e+03,  7.51760638e+03,
        1.10146007e+04,  4.02871783e+03,  1.38476049e+04,  9.71147075e+03,
        3.15529330e+04,  1.59622995e+04,  6.65877092e+03,  5.37630104e+03,
        8.96981763e+03,  3.72657309e+04,  1.32351807e+04,  1.16434652e+04,
        6.62394773e+03,  1.83649497e+03,  9.28743876e+03,  3.98098997e+04,
        1.41781369e+04,  5.50096189e+03,  1.19092809e+04,  3.41982220e+04,
        3.27468041e+03,  1.14772490e+04,  1.50326657e+04,  1.44633272e+04,
        1.40066127e+04,  2.63866924e+04,  9.91329804e+03,  1.67737459e+03,
        9.84334120e+03,  3.06633361e+04,  9.24463690e+03,  2.86606398e+04,
        3.75056776e+04,  1.18248963e+04,  9.16190039e+03,  9.70804641e+03,
        3.83411833e+04,  3.73843089e+04,  3.65373521e+03,  3.18255766e+04,
       -1.14260438e+03,  6.50080354e+03,  3.71195302e+04,  7.07949303e+03,
        1.66418696e+03,  1.35468526e+04,  1.02652156e+04,  3.45265040e+03,
        6.48317454e+03,  1.18592226e+04,  6.01393538e+03,  3.35959236e+04,
        8.50680751e+03,  1.41450780e+04,  9.00871119e+03,  2.71236445e+04,
        7.91514131e+03,  1.85600431e+03,  1.15292061e+04,  5.54708276e+03,
        1.75563246e+04,  7.48085017e+03,  4.02048846e+03,  8.98338589e+03,
        1.94040659e+04,  1.14548314e+04, -6.38125675e+02,  6.72884222e+03,
        9.19027779e+03,  7.51860769e+03,  1.20336830e+04,  1.46773051e+04,
        3.31518879e+04,  5.57700342e+03,  2.79318132e+04, -2.05731836e+02,
        3.55205940e+04,  2.62356958e+04,  1.01928833e+04,  1.25828719e+04,
        1.54027177e+04,  5.66199833e+03,  1.89666118e+03,  2.95649306e+04,
        1.24764615e+04,  9.88225096e+03,  7.32783144e+03,  3.50979642e+04,
        1.31833786e+04,  5.74750860e+03,  6.19473817e+03,  6.00847393e+03,
        7.79707643e+03,  3.86533412e+04,  3.88280507e+04,  1.36503464e+04,
        3.92766648e+04,  7.31920343e+03,  9.83334747e+03,  3.22940799e+04,
        1.04767881e+04,  3.57819400e+04,  4.81762635e+03,  3.27958975e+04,
        3.86101483e+04,  2.98478632e+04,  1.27289394e+04,  7.42194181e+03,
        1.23306245e+04,  4.42197071e+03,  2.67768931e+04,  3.35997473e+04,
        1.90426178e+03,  8.11520453e+03,  3.00434737e+04,  2.85423110e+04,
        5.45054097e+03,  3.21082424e+04,  9.89808093e+03,  1.26401396e+04,
        1.30960759e+04,  4.07547517e+04,  1.92478938e+03,  2.60354039e+04,
        2.73474027e+04,  9.21182471e+03,  2.79107783e+04,  2.93732771e+04,
        9.17278097e+03,  2.97359607e+04,  2.28829853e+04,  1.08458510e+04,
        1.18941780e+04,  9.64700449e+03,  1.20483574e+04,  2.47184557e+04,
        5.26634194e+03,  1.05701553e+04,  1.59241794e+04,  7.77061001e+03,
        1.36859574e+04,  9.18241028e+03,  3.00492800e+04,  7.95163211e+03,
        1.21979824e+04,  1.17763735e+04,  1.13784391e+04,  2.73818622e+04,
        6.96661581e+03,  8.85948046e+03,  2.84336204e+04,  1.58723570e+04,
        4.18125949e+03,  7.80581127e+03,  3.62683019e+04,  3.35437376e+04,
        4.12002914e+02,  1.12554264e+04,  1.30150191e+04,  8.81084161e+03,
        4.12345728e+03,  1.63719040e+04,  1.08657207e+04,  1.77921850e+03,
        1.04859224e+04,  9.59693505e+03,  4.25700571e+03,  2.91733471e+04,
        3.37159368e+03,  1.45190708e+04,  9.30351537e+03,  9.13049221e+03,
        6.18255364e+03,  7.10979431e+03,  1.47766115e+04,  8.10505023e+03,
        7.54485887e+03,  3.74971836e+04,  9.67295782e+03,  4.58664853e+03,
        4.36571355e+03,  9.40463375e+03,  1.44848586e+04,  2.71744656e+04,
        5.97111400e+03,  3.01002259e+04,  1.00489793e+04,  5.78335082e+03,
        1.20900607e+03,  2.98108662e+04,  5.57684134e+03,  6.87099990e+03,
        1.96127943e+03,  1.18006779e+04,  7.30551996e+03,  7.42400103e+02,
        1.16766742e+04,  1.56279737e+04,  2.48598514e+04,  1.21701196e+04,
        1.15535209e+04,  3.71720969e+04,  2.78324498e+03,  5.68415887e+03,
        5.79273349e+03,  1.03375673e+04,  8.06033081e+03, -2.03462351e+03,
        8.86607644e+03,  4.35924900e+03,  1.10529693e+04,  4.05549660e+04,
        6.93118487e+03,  6.08616355e+03,  4.40537950e+03,  4.88781288e+03,
        3.67068753e+03,  4.40727679e+03,  3.87018648e+04,  2.75803609e+04,
        1.11724252e+04,  7.94568065e+03,  3.71686829e+04,  2.46359363e+03,
        2.72220932e+04,  2.86938311e+04,  1.63827846e+04,  1.05746088e+04,
        8.70607388e+02,  2.58928445e+03,  7.22748468e+03,  3.59988418e+04,
        3.90402635e+04,  7.29640525e+03, -1.45566383e+02,  4.91175549e+03,
        1.15480661e+04,  3.32911087e+04,  2.94210758e+03,  2.59319274e+03,
        7.34922817e+03,  1.02550904e+04,  8.22769857e+03,  6.91823654e+03,
        9.03037665e+03,  6.20446574e+03,  1.15884763e+04,  1.37158515e+04,
        1.31376571e+04,  3.06534569e+04,  1.60167731e+04,  6.77014768e+03,
        6.91151421e+03,  4.57968813e+03,  9.92455848e+03,  1.49622300e+04,
        1.37404318e+04,  1.45509936e+04,  3.34890996e+03,  1.17593905e+04,
        3.64937074e+04,  8.55227904e+03,  4.23852634e+03,  4.29159922e+03,
        3.35908793e+04,  1.25895831e+04,  1.32166826e+04,  6.38919634e+03,
        5.42241277e+03,  1.40330902e+04,  3.75645482e+03,  7.59437343e+03,
        9.21207391e+03,  1.35622994e+04,  1.61779247e+04,  1.65419141e+04,
        1.46876769e+04,  9.01836003e+03,  5.67644381e+03,  1.19075158e+04,
        1.44253027e+04,  1.19117893e+04,  6.29592415e+03,  1.23352282e+04,
        1.52492988e+04,  1.75220256e+02, -2.24087521e+03,  3.53126839e+04,
        6.30834016e+03,  8.64805958e+03,  7.78706649e+03,  1.53020106e+04,
        6.91431711e+03,  8.07438453e+03,  1.50444389e+04,  8.38174652e+03,
        1.17046685e+04,  6.94244456e+03,  1.17766389e+04,  1.48863206e+04,
        1.60706260e+04,  1.43332049e+04,  2.97322991e+04,  6.13480164e+03,
        1.08040393e+04,  9.96711520e+03,  1.61724691e+04,  1.25424625e+04,
        2.53387999e+02,  7.28398924e+03,  9.89353168e+03,  2.42414772e+04,
        1.77236728e+04,  3.78033991e+04,  7.67987456e+03,  2.95778781e+04,
        5.10113105e+03,  1.25911006e+04,  1.18067796e+04,  6.56362095e+03,
        6.16077373e+03,  1.00976668e+04,  6.22919770e+03,  3.67128431e+04,
        2.66963323e+04,  2.48315789e+04,  8.56670680e+03,  5.42089686e+03,
        7.56891415e+03,  2.98256857e+04,  1.61836159e+04,  2.76604266e+04,
        1.21386934e+04,  1.37166128e+04,  2.83302231e+04,  1.16481654e+04,
        2.56498838e+04,  2.34400400e+04,  1.09996317e+04,  2.02297193e+03,
       -1.22252838e+02,  3.35831270e+04,  1.00110708e+04,  7.61133613e+03,
        6.31937093e+03,  6.78532831e+03,  7.96417878e+03,  3.58839171e+04,
        1.10320780e+04,  7.97227267e+03,  3.14036997e+03,  5.75357377e+03,
        1.16894521e+04,  8.39302468e+03,  1.24451686e+04,  2.08125961e+03,
        8.90675358e+03,  1.55069727e+04,  1.10550013e+04,  7.40636180e+03,
        2.67859893e+03,  1.19505684e+04,  1.07025684e+04,  3.80890964e+04,
        2.89160545e+04,  3.88898243e+03,  1.53548239e+04,  7.89196174e+03,
        1.09151312e+04,  1.77752298e+04,  1.33507456e+04,  1.07747862e+04,
        1.69359184e+04,  1.53962549e+04,  9.23143051e+03,  6.36876830e+02,
        1.42400966e+04,  3.72428539e+03,  1.70783065e+04,  3.45292302e+04,
        2.90898689e+04,  5.66579292e+03,  3.10269254e+04,  5.41532678e+03,
        7.02364564e+03,  1.10736309e+04,  3.38518446e+04,  2.69768062e+04,
        7.03732987e+03,  3.24766283e+04,  1.05834946e+04,  5.33603517e+03,
        3.55035662e+03,  1.55265105e+04,  1.00224830e+04,  3.33574903e+04,
        4.10534753e+04,  9.43719523e+03,  2.70971839e+04,  2.44421903e+03,
        2.70378949e+03,  5.58143745e+03,  2.11431768e+03,  2.69958366e+04,
        3.01045267e+04,  1.61155400e+02,  1.22905956e+04,  9.41439704e+03,
        2.61566209e+04,  9.91962936e+03,  2.59387373e+04,  1.10099013e+04,
        1.34781802e+04,  3.15501489e+04,  5.80679759e+03,  2.45961984e+04,
        3.03045428e+04,  1.40448668e+04,  8.20969628e+03,  1.03911119e+03,
        1.35041457e+04,  1.23897886e+04,  1.36395811e+04,  5.72368045e+03,
        8.90142356e+03,  3.60999417e+04,  3.69132689e+04,  4.85637480e+03,
        8.90507726e+02,  1.62505714e+03,  5.79104513e+02,  4.62049926e+03,
        2.82267300e+04,  1.07678147e+04,  1.49310497e+04,  1.61294011e+04,
        2.93780737e+04,  8.80398606e+03,  6.87895198e+03,  4.37939703e+03,
        6.98575414e+03,  1.00468166e+04,  5.58091247e+03,  2.49976895e+04,
        1.15877508e+04,  5.59090620e+03,  1.91837703e+04,  1.14037822e+04,
        8.63498641e+03,  1.04943134e+04,  8.96081814e+03,  2.71929630e+04,
        1.84716274e+04,  1.61895861e+04,  1.46522094e+04,  5.89939129e+03,
        8.49211359e+03,  2.19616555e+03,  8.13887993e+03,  2.63426215e+04,
        1.76495489e+04,  4.20152932e+03,  9.36852537e+03,  3.37725213e+04,
        3.17935394e+04,  1.15661836e+04,  2.40672692e+03,  4.65306149e+03,
        6.52716588e+03,  1.96711567e+03,  3.11539121e+04,  8.00331974e+03,
        9.23688461e+03,  2.58566410e+04,  2.93198243e+03,  2.71432593e+03,
        5.74712798e+03,  1.38278497e+04,  9.52194425e+03,  4.96787791e+03,
        3.30155665e+04,  2.87577065e+04,  1.20413988e+04,  8.88950595e+03,
        1.54182985e+04,  1.93379143e+03,  1.07922524e+04,  1.32629478e+04,
        1.20353149e+04,  3.16571223e+03,  1.19593212e+04,  1.55105303e+04,
        1.39745463e+04,  3.42235465e+04,  1.22806037e+04,  1.94633886e+03,
        1.25584231e+04,  2.32044502e+03,  1.52138192e+04,  4.60959992e+03,
        1.19925115e+04,  8.35399970e+03,  1.44443170e+04,  5.42243229e+03,
        4.66025052e+03,  1.21114701e+04,  4.85335335e+03,  5.76702756e+03,
        5.45446954e+03,  3.03974336e+04,  2.08757141e+03, -5.82889342e+02,
        5.22618091e+03,  3.08545125e+04,  4.50455297e+03,  7.50757693e+03,
        1.14895317e+04,  9.94495391e+03,  9.75304162e+03,  1.18816493e+04,
        5.61207325e+03,  1.24582119e+04,  7.30931454e+03,  3.16646765e+03,
        1.05491204e+04,  3.85312145e+03,  1.15549120e+04,  3.84343215e+04,
        3.86415297e+03,  1.96128019e+03,  1.31463919e+04,  8.91761464e+03,
        1.10817281e+04,  2.80524199e+04,  1.39381894e+04,  1.14738358e+04,
        3.07904074e+04,  3.38031814e+03,  1.24456644e+04,  3.41805808e+04,
        3.74644337e+03,  2.16790261e+03,  9.95788348e+03,  1.33151320e+04,
        1.05487585e+04,  1.25250996e+04,  2.74628045e+04,  2.47559674e+04,
        1.22750149e+04,  3.69642335e+03,  7.26664592e+03,  1.29860023e+04,
        2.73175947e+04,  4.91833346e+03,  3.24437211e+04,  1.30454253e+04,
        7.29882677e+03,  1.36112037e+04,  3.79724567e+03,  1.44350668e+04,
        1.20747043e+04,  7.15375097e+03,  3.91789773e+04,  9.67510355e+03,
        7.34039304e+02,  5.38987006e+03,  3.15373522e+04,  4.19220328e+02,
        1.35972728e+04,  2.62855863e+03,  1.19247472e+04,  2.30194324e+04,
        1.50524202e+04,  1.09038707e+04,  2.71123833e+04,  8.38011539e+03,
        7.42156119e+03,  3.10811505e+04,  3.58762031e+04,  3.17988239e+02,
        6.16507634e+03,  9.35662322e+03,  8.06666214e+03,  1.00630434e+04,
        4.32261564e+03,  1.14564737e+04,  1.24377977e+04,  3.81368289e+04,
        1.47149390e+03,  1.47951096e+04,  3.19830677e+04,  9.88250092e+03,
        1.26401388e+04,  3.09141821e+04,  3.29591956e+04,  8.54074206e+03,
        6.10678866e+03,  4.39637925e+03,  1.10676278e+03,  5.54328742e+03,
        3.02438516e+04,  1.60696163e+04,  5.78590556e+03,  3.56554971e+04,
        2.76161081e+04,  7.24623022e+03,  5.40470578e+03,  3.46146245e+04,
        5.30256733e+03,  1.89426805e+03,  1.21318835e+04,  1.52451147e+04,
        7.81468009e+03,  1.38596403e+04,  1.67088817e+04,  3.52411232e+04,
        7.90742729e+03,  3.48553453e+04,  1.54217124e+04,  2.99362721e+04,
        1.13694371e+04,  1.41678658e+04,  1.13181301e+04,  4.93543014e+03,
        3.53172451e+03,  5.22136625e+03,  6.08728846e+03,  2.90385423e+03,
        4.01198481e+03,  9.45808650e+03,  3.86539880e+04,  8.19093199e+03,
        2.66060626e+03,  3.46568272e+04,  7.09557927e+03,  2.53239822e+03,
        1.12739065e+04,  1.13330990e+04,  1.58066027e+04,  9.25044173e+03,
        3.06878095e+03,  9.22448812e+03,  7.71864328e+03,  3.35476466e+04,
        1.25409697e+03,  3.30507873e+04,  3.87163835e+03,  7.05772530e+03,
        1.36798761e+04,  3.93166982e+03,  3.96856298e+04,  2.50245503e+04,
        3.01792521e+04,  3.04521546e+04,  7.20517396e+03,  3.41251852e+03,
        9.75354784e+03,  1.31726132e+04,  2.27281738e+03,  6.59631537e+03,
        2.31840649e+01,  1.07937990e+04,  6.80067939e+03,  2.80477570e+03,
        1.15922709e+04,  2.79215437e+04,  1.21877309e+04,  1.61127987e+04,
        1.17111338e+04, -1.26954315e+03,  3.29170203e+04,  7.16690947e+03,
        1.00569425e+04,  3.11172599e+04,  7.86030512e+03,  9.91811194e+03,
        2.92904555e+03,  1.17805583e+04,  8.45322003e+03,  1.24155230e+04,
        7.68737766e+03,  1.28567856e+04,  1.60337741e+04,  3.69792894e+04,
        3.90847225e+03,  8.09073618e+03,  3.45710395e+03,  1.16230698e+04,
        1.15451675e+04,  9.35167533e+03,  1.23194973e+04,  3.26694763e+03,
        1.06153997e+04,  1.33575735e+04,  1.17808075e+04,  1.53829528e+04,
        3.78257127e+03,  6.34815629e+03,  3.31971298e+04,  9.65584417e+03,
        3.29053324e+04,  2.23949314e+03,  3.98766082e+03,  3.24724427e+04,
        1.50446889e+04,  9.17088367e+03,  1.00265551e+04,  1.12409824e+04,
        3.33903145e+03,  2.78957631e+03,  1.35833247e+04,  3.07791517e+03,
        6.09109267e+03,  1.11936110e+04,  1.56963671e+04,  3.97941857e+04,
        1.77666102e+04,  5.16538639e+03,  3.88911566e+03,  8.73396010e+03,
        1.21247633e+04,  7.43498509e+03,  3.43582180e+04,  1.01555064e+04,
        2.38783838e+04,  3.22819422e+04,  1.32771441e+04,  4.76173030e+03,
        9.91349569e+02,  1.45900023e+04,  6.42503705e+03,  3.76583825e+03,
        1.03385694e+04,  1.24600234e+03,  1.04021772e+04,  7.83964353e+03,
        1.35721779e+04,  1.39898778e+04,  3.77543387e+02,  1.17922722e+03,
        1.50875206e+04,  3.06778926e+03,  9.87704606e+03,  7.13891345e+03,
        1.10588055e+04,  2.80256939e+04,  1.05714423e+04,  1.61793449e+04,
        1.52567857e+04, -1.96519900e+03,  2.78767901e+03,  2.83130112e+04,
        4.07154958e+03,  6.71313003e+03,  5.34159307e+03,  3.06779245e+04,
        1.31818612e+04,  2.62994132e+03,  1.22783316e+04,  1.01429582e+04,
        1.63366638e+03,  3.60064281e+03,  9.86096945e+03,  4.30640581e+03,
        1.53459662e+04,  1.28216866e+04,  5.19794862e+03,  1.00993832e+04,
        6.76026766e+03,  2.97531002e+03,  1.57351469e+04,  7.07266587e+03,
        1.11771239e+04,  5.61548721e+03,  2.83587522e+04,  4.33822555e+03,
        3.16772216e+04,  8.57380013e+03,  3.35524129e+03,  6.80447323e+03,
        2.68411315e+04,  7.38978934e+03,  1.38792811e+04,  4.67456307e+03,
        3.44352335e+04,  3.45645953e+04, -1.00455961e+02,  3.74724873e+04,
        6.09260934e+03,  1.00909054e+04,  2.68638145e+04,  3.35350328e+02,
        9.23678891e+03,  5.92552726e+03,  3.58925018e+03,  1.14159490e+04,
        1.69055034e+04,  4.81708185e+03,  1.21998797e+04,  4.37293172e+03,
        6.28606441e+03,  1.06779686e+04,  4.01795718e+04,  6.51877594e+03,
        1.26659703e+04,  6.53219604e+02,  1.46859143e+04,  4.86094101e+03,
        7.54279695e+03,  1.16001376e+04,  3.72067170e+04,  1.14566076e+04])

In [23]:
# accuracy

In [24]:
reg.score(x_train,y_train)

0.7422691015689171

In [25]:
reg.score(x_test,y_test)

0.7694626233326285

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
onehotencoder=OneHotEncoder()

In [41]:
x=onehotencoder.fit_transform(df.region.values.reshape(-1,1)).toarray()

In [37]:
x

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [39]:
df

      age  sex   bmi  children  smoker  region  expenses
0      19    0  27.9         0       1       3  16884.92
1      18    1  33.8         1       0       2   1725.55
2      28    1  33.0         3       0       2   4449.46
3      33    1  22.7         0       0       1  21984.47
4      32    1  28.9         0       0       1   3866.86
...   ...  ...   ...       ...     ...     ...       ...
1333   50    1  31.0         3       0       1  10600.55
1334   18    0  31.9         0       0       0   2205.98
1335   18    0  36.9         0       0       2   1629.83
1336   21    0  25.8         0       0       3   2007.95
1337   61    0  29.1         0       1       1  29141.36

[1338 rows x 7 columns]

In [42]:
# r2 score

In [46]:
from sklearn.metrics import r2_score

In [53]:
r2_score(y_train,y_predict)

0.7422691015689171